body {
  --animation-dur: 300ms;
  --container-h: 28rem;
  --container-r: 1rem;
  --fs: 3rem;
  background: var(--secondary-clr);
  color: var(--primary-clr);
  width: 100vw;
  height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  font-size: 62.5%;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
@media (max-width: 60em){
  --fs: 2rem;
}
  main {
    display: grid;
    place-content: center;
    width: inherit;
    height: inherit;

    .container {
      width: 100%;

      .inner-container {
        width: 90vw;
        height: var(--container-h);
        gap: 0.25rem;
        padding: 1rem;
        justify-content: center;
        border-radius: var(--container-r);

        &.completed {
          animation: var(--animation-dur) forwards flipOut cubic-bezier(.45, .46, 1, .51);
        }

        header {
          .detail {
            padding-block-start: 0.5rem;
            font-size: var(--fs);
            h1 {
              line-height: 60%;
              font-weight: normal;
              font-size: var(--fs);
            }
          }
        }

        .wrapper {
          margin-block: auto;
          form {
            padding-inline: 0.2rem;
            font-size: var(--fs);
            input {
              width: 100%;
              border: none;
              &:not([type="submit"]) {
                padding: 0.25rem;
                margin-block-end: 0.25rem;
                border: 4px solid var(--primary-clr);
              }
              &[placeholder="First Name"], &[placeholder="First Name"]::placeholder  {
                color: #CD0404;
              }
              &[placeholder="Last Name"], &[placeholder="Last Name"]::placeholder {
                color: #FFB100;
              }
              &[placeholder="Event Name"], &[placeholder="Event Name"]::placeholder {
                color: #88A47C;
              }

              &::placeholder{
                opacity: 0.6;
              }

              &[type="submit"] {
                margin-block-start: 0.2rem;
                background: var(--primary-clr);
                color: var(--secondary-clr);
                cursor: pointer;
                text-align: left;

                &:hover {
                  background: rgba(24, 24, 24, 0.67);
                }
              }
            }
          }
        }
      }

      .checked_in {
        height: var(--container-h);
        color: var(--primary-clr);
        display: grid;
        place-content: center;
        font-size: var(--fs);
        font-weight: normal;
        transform: rotate3d(1, 0, 0, 90deg);
        position: absolute;
        &.completed {
          animation: var(--animation-dur) forwards flipIn cubic-bezier(.45, .46, 1, .51) var(--animation-dur);
        }

        p {
          z-index: 2;
        }
      }
    }
  }
}

@keyframes flipOut {
  100% {
    transform: rotate3d(1, 0, 0, -90deg);
  }
}

@keyframes flipIn {
  0% {
    position: relative;
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg);
    position: relative;
  }
}