body {
  --animation-dur: 300ms;
  background: var(--primary-clr);
  color: var(--secondary-clr);
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;

  main {
    display: grid;
    place-content: center;
    width: inherit;
    height: inherit;

    .container {
      width: 100%;

      .inner-container {
        display: flex;
        width: 90vw;
        height: 10rem;
        background: gold;
        gap: 0.25rem;
        padding: 1rem;
        justify-content: center;
        border-radius: 0.25rem;
        &.completed {
          animation: var(--animation-dur) forwards flipOut cubic-bezier(.45,.46,1,.51);
        }

        header {
          font-size: 1rem;
          line-height: 140%;
          writing-mode: vertical-lr;
          padding-inline: 0.2rem;
          text-align: center;
          color: var(--primary-clr);

          .detail {
            border-right: 1px gray dashed;
            padding-block-start: 0.5rem;
            padding-inline: 0.5rem;
          }
        }

        .wrapper {
          margin-block: auto;
          width: 70vw;

          form {
            padding-inline: 0.2rem;

            input {
              width: 100%;
              border: none;
              &:not([type="submit"]){
                padding: 0.25rem;
                margin-block-end: 0.25rem;
              }

              &[type="submit"] {
                margin-block-start: 0.2rem;
                background: var(--primary-clr);
                color: var(--secondary-clr);
                cursor: pointer;
                &:hover{
                  background: rgba(24, 24, 24, 0.67);
                }
              }
            }
          }
        }
      }
      .checked_in{
        background: gold;
        border-radius: 0.25rem;
        height: 10rem;
        width: 90vw;
        color: var(--primary-clr);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        display: grid;
        place-content: center;
        font-size: 5vmin;
        border: 2px dashed var(--secondary-clr);
        transform: rotate3d(1, 0, 0, 90deg);
        position: absolute;
        &.completed {
          animation: var(--animation-dur) forwards flipIn cubic-bezier(.45, .46, 1, .51) var(--animation-dur);
        }
        p {
          z-index: 2;
        }
      }
    }
  }
}

@keyframes flipOut {
  100% {
    transform: rotate3d(1, 0, 0, -90deg);
  }
}

@keyframes flipIn {
  0% {
    position: relative;
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg);
    position: relative;
  }
}